/* .card{
  
    width: 300px;
    box-shadow: 0 0 10px gray;
    border-radius: 10px;
    padding: 30px 20px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
} */
.card {
    text-align: center;
    padding: 16px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cardImage {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
}


