.h1{
    display: flex;
    align-items: center;
    margin-left: 45%; 
}
.ThemeBtn{
    display: flex;
    align-items: center;
    background-color: var( --background-color);
    color: var(--text-color);
    margin-left: 45%;
    padding: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

