.services {
    align-items: center;
margin-left: 7%;
width: 85%;
}

.serviceItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;  
}
.serviceContainer{
 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5%;
    width: 50%;   
}

h2 {
   
    margin-bottom: 40px;
    font-size: 2.5rem;
}
.btn{
   width: 10px;
   height: 5px;
}
.let-btn{
display: flex;
flex-direction: row;
align-items: center;
}
.nav_content{
    display: flex; 
    flex-direction: row;   
    justify-content: space-between;
    margin: 20px; 
}
.viewBtn{
    background-color: rgb(41, 40, 40);
    border-radius: 10px;
    border: 2px  rgb(69, 68, 68);
    padding: 10px;
    margin: 20px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.letBtn{
    background-color: rgb(24, 24, 24);
    border-radius: 30px;
    border: 2px  rgb(69, 68, 68);
    background-image: url(/src/img/icon/Icon.left.png);
    background-position: center;
    background-repeat:no-repeat ;
    margin: 10px 20px;
    width: 60px;
    height: 60px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}
.RightBtn{
    background-color: rgb(24, 24, 24);
    border-radius: 30px;
    border: 2px  rgb(69, 68, 68);
    background-image: url(/src/img/icon/Icon.right.png);
    background-position: center;
    background-repeat:no-repeat ;
    margin: 10px 20px;
    width: 60px;
    height: 60px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}
.Btn{
    display: flex;
    flex-direction: row;
    align-items: center;
   
}
.nextBtn{
    width: 250px;
    height: 80px;
    border: 2px;
    border-radius: 2px solid rgb(72, 72, 72);
    -webkit-border-radius: 2px solid rgb(158, 101, 101);
    -moz-border-radius: 2px solid rgb(158, 101, 101);
    -ms-border-radius: 2px solid rgb(158, 101, 101);
    -o-border-radius: 2px solid rgb(158, 101, 101);
}
.container{
    margin: 10px 0;
}
.contBtn{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%; 
}
.eBtn{
    background-color: rgb(113, 37, 184);
    border-radius: 30px;
    border: 2px  rgb(154, 66, 186);
    background-image: url(/src/img/icon/Icon.png);
    background-position: center;
    background-repeat:no-repeat ;
    width: 120px;
    height: 60px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

